<div layout="row" layout-align="center center">
	<span flex></span>
	<md-content class="md-padding" flex="60" style="text-align: center">
		<md-card style="box-shadow: none; background-color: transparent">
			<md-card-title>
				<md-card-title-text>
					<h1 class="text-center">Welcome to my learning stack</h1>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>The purpose of this project is to reference some interesting stuff I'v been working in the past.</p>

				<p>I'v tried to explain each tutorial in detail but if some instructions are missing feel free to send a
					question</p>

				<p>Hope You'll find something interesting for You!</p>
			</md-card-content>
		</md-card>
	</md-content>
	<span flex></span>
</div>