<div layout="row" layout-align="center center">
	<span flex></span>
	<md-content class="md-padding" flex="60" style="text-align: center">
		<md-card style="box-shadow: none; background-color: transparent">
			<md-card-title>
				<md-card-title-text>
					<h1 class="text-center">Welcome to my learning stack</h1>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>The purpose of this project is to learn MEAN App developmentt.</p>

				<p>Here we use Redis to handle session and MongoDB/Mongose schemas to handle DB collections</p>
				<p>Styling is done using Angular material</p>

				<p>Hope You'll find something interesting for You!</p>
				<p>P.S. username: rikicare | pass: 12345</p>
			</md-card-content>
		</md-card>
	</md-content>
	<span flex></span>
</div>