<!-- partial-home.html -->
<div class="jumbotron text-center" style="margin-bottom: inherit">
	<h1>Welcome to my learning stack</h1>
	<p>The purpose of this project is to reference some interesting stuff I'v been working in the past.</p>
	<p>I'v tried to explain each tutorial in detail but if some instructions are missing feel free to send a question</p>
	<p>Hope You'll find something interesting for You!</p>

	<!--<a ui-sref=".list" class="btn btn-primary">Nested view 1</a>-->
	<!--<a ui-sref=".paragraph" class="btn btn-danger">Nested view 2</a>-->
</div>

<!--Nested views goes here-->
<div ui-view></div>